[submodule "deps/glfw"]
	path = BersekerEngine/deps/glfw
	url = https://github.com/VatamanuBogdan/glfw.git
[submodule "deps/glm"]
	path = BersekerEngine/deps/glm
	url = https://github.com/VatamanuBogdan/glm
[submodule "deps/spdlog"]
	path = BersekerEngine/deps/spdlog
	url = https://github.com/VatamanuBogdan/spdlog.git
[submodule "deps/assimp"]
	path = BersekerEngine/deps/assimp
	url = git@github.com:VatamanuBogdan/assimp.git
[submodule "BersekerEngine/deps/imgui/imgui"]
	path = BersekerEngine/deps/imgui/imgui-module
	url = git@github.com:VatamanuBogdan/imgui.git
